footer {
  font-size: var(--body-font-size-xs);
  font-family: var(--light-font-family);
  background-color: #fff;
  width: 100%;
  z-index: 2;
  color: #ffffff;
}

footer .footer > div {
  margin: auto;
  max-width: 1400px;
  padding: 40px 24px 24px;
    border-top: 2px solid #000;
}

footer .footer p {
  margin: 0;
}

footer .footer img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

footer .footer a {
  color: #ffffff;
  text-decoration: none;
}

footer .footer a:hover {
  color: var(--main-accent-color);
}
 
footer .footer .section:nth-child(1) .default-content-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer .section:nth-child(1) .default-content-wrapper > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

footer .footer .section:nth-child(1) .default-content-wrapper ul > li {
  max-width: 220px;
  padding: 0 10px;
}

footer .footer .section:nth-child(1) .default-content-wrapper ul > li p {
  font-weight: 700;
  font-size: 12px;
  border-bottom: 1px solid #000;
}

footer .footer .section:nth-child(1) .default-content-wrapper ul > li > ul > li {
  font-weight: 400;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 50px 32px;
  }

  footer .footer .section:nth-child(1) .default-content-wrapper > ul {
    flex-direction: row;
    flex-wrap: wrap;
    
  }
}

footer .footer .section:nth-child(2) .default-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

footer .footer .section:nth-child(2) .default-content-wrapper p {
  font-size: 12px;
}